body {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    background: linear-gradient(to top, #8cda9f, #e68da5);

}

span {
    font-size: larger;
}
.weekly-incidence {
    font-size:xx-large;
}